@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
h1 {
  font-family: "Homemade Apple", cursive;
  text-shadow: #9b7544 1px 0 30px;
  /* font-size: 30px; */
}

.routes {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
  
}

.Header {
  color: white;
  text-align: center;
}

/* .link-button {
    pos
} */

.description {
  margin: auto;
  width: 50%;
  border: 3px solid #9b7544;
  padding: 10px;
}
