@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
/*   font-family: "Handlee", cursive;
 */
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
/* font-family: "Neucha"; */
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
body {
  display: grid;
  justify-content: center;
  background-color: #658354;
  font-family: "Forum", cursive;
  align-self: center;
}

/* input,
button {
  font: inherit;
  padding: 0.5rem;
} */

section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
